meta-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}

.meta-content {
  flex-direction: row;
  flex-wrap: wrap;
  div {
    width: auto;
    p {
      word-wrap: break-word;
    }
  }
}
.border-5 {
  border-width: 5px !important;
}

@media only screen and (max-width: 992px) {
  .title {
    display: none;
  }
  .meta-content {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .meta-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
  .lg-meta-content {
    padding-right: 2rem !important;
    padding-left: 5rem !important;
  }
}

@media only screen and (min-width: 993px) {
  .meta-content {
    div {
      width: 50% !important;
      p {
        word-wrap: break-word;
      }
    }
  }
  .lg-title {
    display: none;
  }
}
