@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#root {
  height: 100%;
}

.meta-container {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;

  div:nth-child(2) {
    div {
      padding-right: 3rem !important;
      padding-left: 3rem !important;
    }
  }
}

.meta-content {
  flex-direction: row;
  flex-wrap: wrap;
  div {
    width: auto;
    p {
      word-wrap: break-word;
    }
  }
}
.border-5 {
  border-width: 5px !important;
}
.poster {
  object-fit: cover;
  height: 444px !important;
  width: 300px !important;
}

.carousel {
  width: 90% !important;
  display: grid;
  // flex-direction: row;
  grid-template-columns: repeat(5, auto [col-start]);
  grid-template-rows: 100%;
  grid-auto-flow: column;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-select {
  width: 25% !important;
  margin-right: 8.5rem;
}

@media only screen and (max-width: 992px) {
  .carousel-select {
    width: 100% !important;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
  .title {
    display: none;
  }
  .meta-content {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .meta-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
  .lg-meta-content {
    padding-right: 5rem !important;
    padding-left: 3rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .meta-container {
    padding: 0;
    div:first-child {
      display: none !important;
    }
    div:nth-child(2) {
      div {
        padding-right: 0.3rem !important;
        padding-left: 0.3rem !important;
      }
    }
  }
}
@media only screen and (min-width: 993px) {
  .meta-content {
    div {
      width: 50% !important;
      p {
        word-wrap: break-word;
      }
    }
  }
  .lg-title {
    display: none;
    padding: 0;
  }
}
